*{
    padding: 0px;
    margin: 0px;
}

body{
    background: rgb(126,52,176);
    background: linear-gradient(180deg, rgba(126,52,176,1) 0%, rgba(70,121,195,1) 54%, rgba(67,215,189,1) 90%);
}

.header{
    display: table;
    background-color: #1E1F23;
    width: 95rem;
    height: 64px;
}

.links{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-start;
}

.logotipo{
    width: 120px;
    height: 66px;
    display: inline-block;
    position: absolute;
    align-items: flex-start;
    object-fit: cover;
}

.link{
    margin-right: 10px ;
    margin-top: 20px;
    font-family: 'Secular One', sans-serif;
    color: #F6F8F9;
    font-weight: 10;
    font-size: 0.8rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
    .links a:hover{
        background: #4a4a4a;
    }

.contenedor{
    width: 90rem;
    height: 50rem;
    background-color: #1E1F23;
    border-radius: 20px;
    margin-left: 40px;
    box-shadow: 7px 7px 9px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 9px -1px rgba(0,0,0,0.75);
}

#nombre{
    font-family: 'Bebas Neue', cursive;
    color: #F6F8F9;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 40px;
}
 .parrafo{
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: right;
    align-items: flex-end;
    margin-left: 30px;
}

 .intro{
    text-align: justify;
    align-items: flex-end;
    width: 70%;
    color: #F6F8F9
}

.parrafos_2{
    width: 70%;
    display: flex;
    flex-direction: column-reverse;
    text-align: justify;
    align-items: flex-end;
    margin-left: 30px;
}

.sobre_mi{
    text-align: justify;
    align-items: flex-end;
    width: 70%;
    margin-top: 30px;
}

p{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    color: #F6F8F9
}

#nucba{
    color: #F6F8F9
}

.contenedor_img{
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: left;
    object-fit: cover;
    width: 50%;

}

.arrecifes{
    width: 300px;
    height: 390px;
    position: absolute;
    object-fit: cover;
}

.ubi{
    width: 100%;
    display:flex;
    position: relative;
    align-items:flex-end;
    justify-content:center;

}

.mapa{
    margin-top: 15%;
    position: relative;
    width:90%;
    height: 300px;
    border-radius: 20px;
}

