*{
    padding: 0px;
    margin: 0px;
}

.header{
    background-color: #1E1F23;
    width: 100%;
}

.navbar{
    width: 100%;
    height: 60px;
    display: flex;
}

.links{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-start;
}

.logotipo{
    width: 120px;
    height: 66px;
    display: inline-block;
    position: absolute;
    align-items: flex-start;
    object-fit: cover;
}

.link{
    margin-right: 10px ;
    margin-top: 20px;
    font-family: 'Secular One', sans-serif;
    color: #F6F8F9;
    font-weight: 10;
}