@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    background: rgb(241,152,162);
    background: linear-gradient(0deg, rgba(241,152,162,1) 0%, rgba(116,175,244,1) 100%);
    background-attachment: fixed;
}
 a{
    text-decoration: none;
    color: #F8F8F8;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
}



#nucba{
    text-decoration: none;
    color: #282727;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}


.navbar{
    background-color: #1F1D1D;
    width: 100%;
    height: 3rem;
}

.links{
    display: flex;
    justify-content: right;
}

.link{
    margin: 0.3rem 0.6rem;
    transition: all 0.7s;
}

.link:hover {
    background-color: #F7F7F7;
    border-radius: 0.5rem;
    letter-spacing: 0.15rem;
    color: #282727;
}

.contenedor_fotos{
    display: flex;
    width: 100%;
}

.foto_dibujo{
    display: flex;
    width: 100%;
    justify-content: right;
}

.foto_animada{
    width: 36rem;
}

h1{
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #282727;
    text-shadow: 0px 2px 7px rgba(0,0,0,0.58);
}

.contenedor_img{
    display: flex;
    width: 100%;
    height: 34rem;
    margin: 0.9rem 0.3rem;
    justify-content: left;
    align-items: center;
}

.contenedor_img img{
    width: 16rem;
    border-radius: 50%;
}

.contenedor_img img:hover{
    transition-timing-function: ease-in;
    transition-duration: 1s;
    width: 20rem;
}

.arrecifes{
    box-shadow: 8px 7px 14px 3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 8px 7px 14px 3px rgba(0,0,0,0.7);
    -moz-box-shadow: 8px 7px 14px 3px rgba(0,0,0,0.7);
}

.contenedor_parrafos{
    display: flex;
    justify-content: left;
}

.parrafo{
    width: 50%;
    height: 35%;
    display: flex;
    margin-top: 10.5rem;
    align-items: center;
    flex-wrap: wrap;
}

p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #282727;
}

h2{
    text-align: center;
    margin: 3rem;
    color:#282727;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

h3{
    text-align: center;
    color:#282727;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.contenedor_h3{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.iconos{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.p-ventajas{
    width: 20%;
    text-align: justify;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #282727;
}

.contenedor_icono{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.foto_icono{
    width: 7rem;
}

#titulo_trabajo{
    text-align: center;
    color:#282727;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    margin-top: 13rem;
}

.contenedor_numeros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.numeros{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: #282727;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.6225840678068102) 0%, rgba(0,0,0,0.6169818269104517) 100%);
    color: #F7F7F7;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    text-align: center;
    box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.76);
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.76);
    -moz-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.76);
}

.p_trabajo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.p_trabajo p{
    width: 6.2rem;
    height: 4.6rem;
    margin-top: 1.25rem;
    text-align: center;
    color:#282727;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    font-size: 1.9rem;
    display: flex;
    flex-wrap: nowrap;
}

.definicion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.definicion p{
    width: 18rem;
    height: 7rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 0.5rem;
    text-align: center;
    color:#282727;
    font-weight: 400;
    font-size: 1.1rem;
    display: flex;
    flex-wrap: nowrap;
}